:root {
  --blueOne: #005073;
  --blueTwo: #107dac;
  --blueThree: #189ad3;
  --blueFour: #1ebbd7;
  --blueFive: #71c7ec;
  --white: #fff;
  --black: #000000;
}

body {
  background-color: #fff;
  color: var(--blueOne);
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 1900px;
  transition: 0.3s;
  border: 1px solid black;
}

a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.active {
  text-decoration: underline;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blueOne);
  color: #fff;
  font-family: "Poppins", sans-serif;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 1900px;
}

.headerimg {
  height: 160px;
  width: 160px;
  background-image: url(/images/logo2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style-type: none;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 500;
  padding-left: 0;
}

.headericons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
  align-items: flex-end;
}

.loginbutton {
  color: #005073;
  background-color: #fff;
  width: 80px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.loginbutton a {
  color: #005073;
}

.landingsection {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 800px;
  padding-left: 10px;
  border-bottom: 10px solid var(--blueOne);
  transition: 0.3s;
}

.margin-top {
  margin-top: 50px;
}

.landingsectionbox {
  margin-top: 150px;
  font-family: "Roboto Mono", monospace;
}

.mainheading {
  font-size: 3.5rem;
}

.counter {
  color: #005073;
  font-family: "Roboto Slab", serif;
  margin-bottom: -15px;
}

.countersloagan {
  color: #005073;
  font-family: "Roboto Slab", serif;
}

.sloagan {
  font-family: "Neucha", cursive;
}

.orangeline {
  height: 3px;
  line-height: 400px;
  background-color: orange;
  margin-top: 20px;
}

.loginlink {
  display: flex;
  justify-content: flex-start;
  width: 300px;
  height: 90px;
  margin-top: 25px;
  color: #fff;
  background-color: #107dac;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
  justify-content: center;
}

.loginlink:hover {
  background-color: #189ad3;
}

.secondsection {
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
  margin-bottom: 50px;
}

.sectiontwoheading {
  font-size: 2rem;
}

.bigdiv2 {
  flex: 1;
  padding-left: 5px;
}

.secondsectionimage {
  background-image: url(/images/junior-ferreira-7esRPTt38nI-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 400px;
  flex: 1;
  padding: 5px;

  border-radius: 50%;
}

.whytxt {
  font-family: "Neucha", cursive;
  font-style: italic;
}

header .loginbutton {
  color: #000000;
}

.loginbuttontop {
  width: 150px;
  height: 35px;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #107dac;
  transition: 0.3s;
  border-radius: 5px;
  display: none;
}

.registerbuttontop {
  width: 150px;
  height: 35px;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #107dac;
  transition: 0.3s;
  border-radius: 5px;
}

.registerbuttontop:hover {
  cursor: pointer;
  background-color: #189ad3;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.loginbutton {
  width: 500px;
  height: 75px;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #107dac;
  transition: 0.3s;
}

.loginbuttontop:hover {
  cursor: pointer;
  background-color: #189ad3;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.blogsection {
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topsectionthreediv {
  display: flex;
  gap: 50px;
  margin-left: 5px;
}

.topsectionthreediv h4 {
  font-size: 2rem;
  margin-block-start: 0;
  font-family: "Poppins", sans-serif;
}

.topsectionthreediv p {
  font-size: 1rem;
  margin-block-start: 1rem;
  font-style: italic;
  font-family: "Neucha", cursive;
}

.cardcontainer {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.blogpost {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.blogpost:hover {
  cursor: pointer;
}

.blogprevimg {
  background-image: url(/images/david-matos-xtLIgpytpck-unsplash.jpg);
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.blogprevheading {
  font-family: "Molengo", sans-serif;
}

.blogprevinfo {
  font-family: "Molengo", sans-serif;
}

footer {
  color: #fff;
  background-color: #005073;
  height: 600px;
  max-width: 1900px;
}

.footerheading {
  font-family: "Poppins", sans-serif;
}

.footerdivone {
  margin-left: 5px;
  margin-top: 5px;
}

.footerdivone p {
  font-family: "Neucha", cursive;
  font-style: italic;
  width: 40%;
}

.emailinput {
  height: 30px;
  width: 300px;
}

.passwordinput {
  height: 30px;
  width: 300px;
}

.subscribebutton {
  height: 34px;
  width: 200px;
  padding: 0;
  border-width: 0;
  margin-left: 15px;
}

.subscribebutton:hover {
  cursor: pointer;
}

.footerdivtwobox {
  width: 40%;
  font-family: "Neucha", cursive;
  font-style: italic;
}

.links {
  margin-top: 300px;
  font-family: "Poppins", sans-serif;
}

nav ul li:hover {
  text-decoration: underline;
}

/* SIGN IN/SIGN UP FORM */

.loginsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 200px;
  margin-right: 50px;
  color: #005073;
  transition: 0.5s;
  z-index: 200;
  opacity: 100%;
}

.formcontainer {
  width: 500px;
  display: flex;
  flex-direction: column;
  height: 400px;
}

form {
  font-family: "Poppins", sans-serif;
  height: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  z-index: 100;
}

input {
  height: 15px;
  width: 300px;
}

.loginForm:hover {
  cursor: pointer;
}

form .submitbtn {
  height: 30px;
  width: 200px;
  border: none;
  background-color: #107dac;
  color: #fff;
  font-weight: 700;
  margin-top: 20px;
  border-radius: 5px;
  z-index: 1000;
}

form .submitbtn:hover {
  cursor: pointer;
}

/* Profilepage */

.profilebox {
  border: 1px solid black;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  min-width: 300px;
}

.profiles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
  font-family: "Roboto Mono", monospace;
}

.profile-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 800px;
  margin-bottom: 20px;
  gap: 20px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
}
.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.postbox {
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 400px;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}

.posttags {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.tag {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
}

.postpreviewheading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.postcreator,
.postdatetime {
  color: #888;
  margin-bottom: 10px;
}

.postpreviewtext {
  margin-bottom: 20px;
}

.reactions {
  display: flex;
  align-items: center;
}
.likecounter,
.dislikecounter {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
}
.thumbsup,
.thumbsdown {
  background-color: var(--blueOne);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.thumbsup i,
.thumbsdown i {
  margin-right: 5px;
}

.regform {
  margin-top: 50px;
  max-width: 400px;
  margin-top: 50px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 600px;
  display: block;
}

.regform h2 {
  text-align: center;
  margin-bottom: 20px;
}

.regform label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.regform input[type="text"],
.regform input[type="email"],
.regform input[type="password"],
.regform select {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.regform select {
  padding-right: 30px;
}

.submitregbutton {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--blueOne);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.submitregbutton:hover {
  background-color: var(--blueFive);
}

.regcontainer {
  display: flex;
  justify-content: center;
  height: 800px;
}

.loginsectionforloginpage {
  display: none;
  position: absolute;
  top: 0;
  margin-top: 235px;
  margin-left: 31%;
}

#grey {
  background-color: #888;
}

#grey:hover {
  cursor: auto;
}

#valerror {
  color: red;
  font-size: 0.8rem;
}

.loginemailerror {
  display: none;
}

.wrongpassword {
  display: none;
}

.usernameerror {
  display: none;
}

.emailerror {
  display: none;
}

.passworderror {
  display: none;
}

.hamburgericon i {
  font-size: 2rem;
  display: none;
}

.loginerror {
  font-size: 0.8rem;
  color: red;
  display: none;
}

.logoutButton {
  display: none;
}

.profilebox {
  margin-top: 20px;
}

.createpostlink {
  color: #fff;
  background-color: #005073;
  font-size: 1.3rem;
  padding: 5px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* Responsive */

@media screen and (max-width: 960px) {
  .hamburgericon i {
    font-size: 2rem;
    display: block;
    z-index: 1;
  }

  .hamburgericon i:hover {
    cursor: pointer;
  }

  .whytxt {
    width: 90%;
  }

  nav {
    width: 100%;
    position: absolute;
    transform: translateY(-150px);
  }

  .checked {
    transform: translateY(100px);
    background-color: #005073;
    display: flex;
    flex-direction: column;
  }

  .blogpost {
    width: 50%;
  }

  .secondsection {
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    height: 900px;
  }

  .divone {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blogsection {
    margin-top: 50px;
    align-items: stretch;
  }

  .cardcontainer {
    flex-direction: column;
  }

  .topsectionthreediv {
    flex-direction: row-reverse;
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .dnone {
    display: none;
  }

  .blogpost {
    width: 90%;
  }

  .blogsection {
    width: 100%;
  }

  .loginbutton {
    width: 320px;
  }

  .loginsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    top: 50%;
    left: 50%;
    margin-right: 100px;
    transform: translateX(-3000px);
    color: #005073;
    transition: 0.5s;
    z-index: 20;
    opacity: 100%;
    background-color: #fff;
  }

  form {
    background-color: #fff;
  }
}

@media screen and (max-width: 500px) {
  header {
    flex-direction: column;
  }

  .checked {
    transform: translateY(250px);
  }
}
